<h1>Search</h1>

<div id="map">
</div>

<script>
var q = "<%= @query %>";
var l = "<%= @location %>";
var query_path = "<%= results_path %>";

function loadMap() {
  var center = new google.maps.LatLng(39.109, -94.589);

  /*if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.setCenter(center);
    }, function() {});
  }*/
  
  var options = {
    zoom: 4,
    center: center,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    mapTypeControl: false,
    streetViewControl: true
  };
  
  var map = new google.maps.Map($("div#map").get(0), options);
  loadResults(map);
}

function loadResults(map) {
  $.ajax({
    url : query_path,
    type : 'get',
    data : {'q' : q, 'l' : l},
    
    success : function(results, req, status) {
      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < results.length; i++) {
        r = results[i].job;
        if (r.lat == null || r.long == null) {
          continue;
        }
        var marker = new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: new google.maps.LatLng(r.lat, r.long),
          title: r.title + ' - ' + r.company 
        });
        var contentString = '<strong><a href="'+r.source+'">'+r.title+'</a></strong><br />'+r.company+'<br />'+r.desc+'<br /><em>'+r.city+', '+r.state+'</em>'+' '+r.date;
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
        bounds.extend(marker.position);
      }
      map.fitBounds(bounds);
    }
  });
}

</script>

<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false&callback=loadMap' %>
