div#notice {
  width: 100%;
  background: yellow;
  height: 1.5em;
}

div#login {
  float: right;
  margin-top:5px;
}

div#header {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

div#header h1 a {
  text-decoration: none;
}

div#footer {
  text-align:center;
  width:98%;
  bottom: 0px;
}
