html {
  font-family: 'Lato', "Myriad Pro", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #00E;
}

div#notice {
  width: 100%;
  background: yellow;
  height: 1.5em;
}

div#logintab {
  font-size: 8pt;
  z-index: 2;
  position: absolute;
  right: 0%;
  top: 0;
  background: #f2f5f6;
  padding: 5px;
  border: 1px solid #777;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 5px;
}

div#logintab a {
  color: #ABF;
}

div#logintab a:visited {
  color: #00E;
}

div#header {
  font-weight: 100;
  line-height: 0;
  position: absolute;
  top: 20px;
  left: 0px;
  height: 25px;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  border: 1px solid #777;
  border-left: none;
  padding: 15px;
  padding-left: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.90;
  -webkit-transition: opacity .3s ease;
}

div#header:hover {
  opacity: 1;
}

div#header h1 {
  margin: 5px;
  width: 120px;
  padding: 0;
  text-align: center;
  opacity: 1;
}

div#header h1 a {
  color: #000;
  text-decoration: none;
}

div#header span#slogan {
  font-weight: 300;
  opacity: 1;
  color: #000;
  opacity: 1;
  margin-left: 6px;
  line-height: 1.3em;
  font-size: 8pt;
}

div#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
}

div.marker {
  max-width: 400px;
  font-size: 10pt;
}

div#view {
  overflow: hidden;
}

div#sign_in {
  overflow: hidden;
  width: 600px;
  margin: 180px auto;
}

div#sign_up {
  overflow: hidden;
  width: 900px;
  margin: 120px auto;
}

div#edit_account {
  overflow: hidden;
  width: 900px;
  margin: 90px auto;
  margin-left: 110px;
}


div#reset {
  overflow: hidden;
  width: 800px;
  margin: 200px auto;
}

div#changepw {
  overflow: hidden;
  width: 700px;
  margin: 200px auto;
}

div#pagetitle { 
  display: inline;
  float: left;
  padding: 80px 25px;
  padding-left: 0;
  border-right: 1px solid #777;
}

div#pagetitle h1 {
  font-size: 30pt;
  margin: 0;
}

div#sign_up div#pagetitle {
  padding-left: 0px;
}

div.form {
  float: left;
  margin: 10px 50px;
  margin-right: 0;
}

input[type=text], input[type=email], input[type=password] {
  height: 2em;
  width: 12em;
  margin: 5px;
  padding-left: .5em;
  border: 1px solid #777;
  border-radius: 2px;
}

form label {
  display: block;
  float: left;
  min-width: 100px;
  margin: 9px 0;
}

input[type=submit] {
  height: 2.5em;
  border: 1px solid #777;
  background: #DDD;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 1s ease;
}

input[type=submit]:hover, input[type=submit]:active {
  background: #BBB;
}

form p a {
  width: 100%;
  font-size: 10pt;
  padding-right: 67px;
}

span#link_facebook, span#link_linkedin {
  font-size: 10pt;
}

span#link_facebook {
  height: 1.5em;
  padding-right: 20px;
  padding-bottom: .5em;
}

img#facebook_icon, img#linkedin_icon {
  display: inline;
  position: relative;
  top: 4px;
}

div#footer {
  text-align: center;
  font-size: 8pt;
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 60px;
  padding: 5px;
  background: #f2f5f6;
  border: 1px solid #777;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
}

div#indeed_logo {
  font-size: 8pt;
  position: absolute;
  bottom: 40px;
  left: 5px;
  background: #f2f5f6;
  border: 1px solid #777;
  border-radius: 5px;
}

div#indeed_logo a {
  margin-left: 2px;
  color: #000;
  text-decoration: none;
}

div#search_again {
  z-index: 2;
  position: absolute;
  display: none;
  text-align: center;
  background-color: white;
  opacity: 0.95;
  -webkit-transition: opacity .3s ease;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
  bottom: 15px;
  left: 150px;
}

div#search_again:hover {
  opacity: 1;
}

div#toggle_contacts {
  position: fixed;
  background-color: white;
  padding: 5px;
  bottom: 15px;
  right: 282px;
  border-radius: 5px;
  border: 1px solid #777;
  opacity: 0.95;
  -webkit-transition: opacity .3s ease;
}

div#toggle_contacts:hover {
  opacity: 1;
}

div.job_infowindow {
  background-color: white;
  font-size:14px;
}

div#results_box {
  width: 247px;
  border: 1px solid #777;
  background-color: white;
  z-index: 3;
  position: absolute;
  opacity: 0.90;
  -webkit-transition: opacity .3s ease;
  top: 30px;
  right: 7px;
  bottom: 15px;
  padding: 10px; 
  border-radius: 5px;
}

div#results_box:hover {
  opacity: 1;
}

div#results_box h2 {
  width: 225px;
  line-height: 1em;
  padding-bottom: 7px;
  padding-top: 0;
  margin: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
}

a#toggle_results_box {
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  overflow: hidden;
  height: 638px;
  width: 17px;
}

a#toggle_results_box img {
  position: absolute;
  top: 50%;
  margin: 0;
  width: 17px;
  left: -2px;
  padding: 5px -2px;
}

div#results_list {
  overflow: auto;
  position: absolute;
  top: 59px;
  left: 15px;
  right: 5px;
  bottom: 5px;
  padding: 5px 0;
  margin: 0;
  float: left;  
} 

div#results_list ul {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-size: 10pt;
}

div#results_list li {
  list-style-type: none;
  padding: 3px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

div#results_list li:nth-child(2n) {
  background: #F8F8F8;
}

div#results_list li:hover {
  border: 1px solid #777;
  border-radius: 5px;
  background: #f2f5f6;
}

p.result_title {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-top: 3px;
  padding: 3;
}

div#results_list li p.result_text {
  margin: 3px;
}

p.result_text {
  font-size: 10pt;
}

div.contact_window {
  overflow: hidden;
}

div.contact_window div.contact_photo {
  float: left;
  margin: 20px 5px;
  height: 100%;
}

div.contact_window div.contact_photo img {
  float: left;
  padding-top: 20px;
}

div.contact_window div.contact_body {
  font-size: 10pt;
  float: right;
  max-width: 300px;
}

div.contact_window h4 {
  text-align: center;
  line-height: 1.5em;
  margin: 0 5px;
}

div.contact_window p {
  margin: 10px;
}

