html {
  font-family: 'Lato', "Myriad Pro", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #00E;
}

div#notice {
  width: 100%;
  background: yellow;
  height: 1.5em;
}

div#logintab {
  font-size: 8pt;
  z-index: 2;
  position: absolute;
  right: 0%;
  top: 0;
  background: #9aE;
  padding: 5px;
  border: 1px solid #777;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 5px;
}

div#logintab a {
  color: #ABF;
}

div#logintab a:visited {
  color: #00E;
}

div#header {
  text-align: center;
  font-size: px;
  font-weight: 100;
  line-height: 0;
  position: absolute;
  top: 30px;
  left: 0px;
  height: 35px;
  overflow: hidden;
  text-shadow: #777 2px 2px 8px;
  z-index: 2;
  background-color: white;
  border: 1px solid #777;
  border-left: none;
  padding: 15px;
  padding-left: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.95;
  -webkit-transition: opacity .3s ease;
}

div#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
}

div.marker {
  max-width: 400px;
  font-size: 10pt;
}

div#view {
  overflow: hidden;
}

div#sign_in {
  overflow: hidden;
  width: 600px;
  margin: 180px auto;
}

div#sign_up {
  overflow: hidden;
  width: 800px;
  margin: 120px auto;
}

div#reset {
  overflow: hidden;
  width: 800px;
  margin: 200px auto;
}

div#changepw {
  overflow: hidden;
  width: 700px;
  margin: 200px auto;
}

div#pagetitle { 
  display: inline;
  float: left;
  padding: 80px 25px;
  padding-left: 0;
  border-right: 1px solid #777;
}

div#pagetitle h1 {
  font-size: 30pt;
  margin: 0;
}

div.form {
  float: left;
  margin: 10px 50px;
  margin-right: 0;
}

input[type=text], input[type=email], input[type=password] {
  height: 2em;
  width: 12em;
  margin: 5px;
  padding-left: .5em;
  border: 1px solid #777;
  border-radius: 2px;
}

form label {
  display: block;
  float: left;
  min-width: 100px;
  margin: 9px 0;
}

input[type=submit] {
  height: 2.5em;
  border: 1px solid #777;
  background: #DDD;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 1s ease;
}

input[type=submit]:hover, input[type=submit]:active {
  background: #BBB;
}

form p a {
  width: 100%;
  font-size: 10pt;
  padding-right: 67px;
}

span#link_facebook a {
  height: 1.5em;
  padding-right: 30px;
  padding-bottom: .5em;
}

img#facebook_icon, img#linkedin_icon {
  display: inline;
  margin-top: .5em;
}

div#footer {
  text-align: center;
  font-size: 8pt;
  position: absolute;
  bottom: 0;
  left: 75px;
  width: 5em;
  padding: 5px;
  background: #9aE;
  border: 1px solid #777;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
}

div#search_again {
  z-index: 2;
  position: absolute;
  display: none;
  text-align: center;
  background-color: white;
  opacity: 0.95;
  -webkit-transition: opacity .3s ease;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
  bottom: 15px;
  left: 150px;
}

div#search_again:hover {
  opacity: 1;
}


div.job_infowindow {
  background-color: white;
  font-size:14px;
}

div#results_box {
  width: 247px;
  border: 1px solid #777;
  background-color: white;
  z-index: 3;
  position: absolute;
  opacity: 0.85;
  -webkit-transition: opacity .3s ease;
  top: 30px;
  right: 7px;
  bottom: 15px;
  padding: 10px; 
  border-radius: 5px;
}

div#results_box:hover {
  opacity: 1;
}

div#toggle_contacts {
  position: fixed;
  background-color: white;
  padding: 5px;
  bottom: 15px;
  right: 282px;
  border-radius: 5px;
  border: 1px solid #777;
  opacity: 0.95;
  -webkit-transition: opacity .3s ease;
}

div#toggle_contacts:hover {
  opacity: 1;
}

div#results_box h2 {
  line-height: 1em;
  padding-bottom: 10px;
  padding-top: 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
}

div#results_list {
  overflow: auto;
  height: 90%;
  width: 100%;
  padding: 5px 0;
  margin: 0;
}

div#results_list ul {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-size: 8pt;
}

div#results_list li {
  list-style-type: none;
  padding: 3px;
  border: 1px solid #FFF;
  border-radius: 5pz;
}

div#results_list li:nth-child(2n) {
  background: #EEE;
}

div#results_list li:hover {
  border: 1px solid #777;
  border-radius: 5px;
  background: #ABF;
}

div#results_list li p.result_title {
  font-weight: bold;
  margin-bottom: 0;
}
