html {
  font-family: "Myriad Pro", "Verdana", sans-serif;
  width: 100%;
}

body {
  margin: 0;
}

div#logo {
  font-size: 48pt;
  margin: 160px auto 0 auto;
  text-align: center;
  letter-spacing: -.07em;
  text-rendering: optimizeLegibility;
}

div#logo h1 {
  margin: 0px auto;
}

div#inputform {
  margin: 5px auto 10px auto;
  width:570px;
  text-align: center;
}

input#q, input#l {
  height: 2em;
  width: 12em;
  margin: 5px;
  padding-left: .5em;
  border: 1px solid #777;
  border-radius: 2px;
}

input.button {
  height: 2.5em;
  border: 1px solid #777;
  background: #DDD;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 1s ease;
}

input.button:hover {
  background: #BBB;
}

div#recent {
  text-align: center;
  margin: 30px auto;
}

div#recent p#more {
  font-size: 10px;
}

div#infotext {
  margin: 40px auto;
  text-align:center;
}