div#logo {
  font-size: 48pt;
  margin: 160px auto 0 auto;
  text-align: center;
  letter-spacing: -.07em;
  text-rendering: optimizeLegibility;
}

div#logo h1 {
  margin: 0px auto;
}

div#inputform {
  margin: 5px auto 10px auto;
  width:570px;
  text-align: center;
}

div#recent {
  text-align: center;
  margin: 30px auto;
}

div#recent p {
  font-size: 14px;
}

div#infotext {
  margin: 40px auto;
  text-align: center;
}
