div#logo {
  font-size: 48pt;
  margin: 160px auto 0 auto;
  text-align: center;
  letter-spacing: -.07em;
  text-rendering: optimizeLegibility;
}

div#logo h1 {
  margin: 0px auto;
}

div#inputform {
  margin: 5px auto 10px auto;
  width:570px;
  text-align: center;
}

div#recent {
  text-align: center;
  margin: 23px; 
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

div#recent p {
  font-size: 14px;
}

div#infotext {
  margin: 30px auto;
  line-height: 1.5em;
  width: 520px;
}
