<div id="logo">
<h1>Jobography</h1>
</div>

<div id="inputform">
<%= form_tag search_path, :method => "get" do %>
  <%= text_field_tag :q, "", {:placeholder => "What", :autofocus => "true"} %> near
  <%= text_field_tag :l, "", {:placeholder => "where (optional)"} %>
  <%= submit_tag "go!" %><br /> 
<% end %>
</div>

<div id="infotext">
  <p>We're amazing.  Use our website!</p>
</div>
