<div id="logo">
<h1>Logo Goes Here</h1>
</div>

<div id="inputform">
<%= form_tag search_path, :method => "get" do %>
  <%= text_field_tag :query, "query" %> near
  <%= text_field_tag :location, "location (optional)" %>
  <%= submit_tag "go!" %><br /> 
<% end %>
</div>

<div id="infotext">
  <p>We're amazing.  Use our website!</p>
</div>
