<!DOCTYPE html>
<html>
<head>
  <h1></h1>
  <link rel=StyleSheet href="../../../public/stylesheets/home.css" type="text/css"></link>
</head>

<body>
  <div id="logo">
  </div>

  <div id="inputform" action=""  method="get">
  <form>
    <input id="query" type="text" name="query"/> near
    <input id="location" type="text" name="location" value="location (optional)">
    <input id="submit" type="submit" value="go!" /><br />
  </form>
  </div>

  <div id ="infotext">
    <p></p>
  </div>
</body>
