<!DOCTYPE html>
<html>
<head>
  <link rel=StyleSheet href="../../../public/stylesheets/map.css" type="text/css"></link>
</head>

<body>
  <div id="logo">
  </div>

<%= yield %>

  <div id="">
    <form>
      <input
    </form>
  </div>

</body>
</html>
